<div class="contenedor__padre--contenido">
  <div class="box__pelis">
    <img src="./../../../assets/Fotos pelis/batman.jpg" alt="" srcset="" />
    <div class="info__pelis">
      <h2>Titulo</h2>
      <h3>fecha</h3>
      <h3>director</h3>
      <h3>helenco</h3>
    </div>
  </div>
  <div class="box__pelis">
    <img src="./../../../assets/Fotos pelis/marvel.jpg" alt="" srcset="" />
    <div class="info__pelis">
      <h2>Titulo</h2>
      <h3>fecha</h3>
      <h3>director</h3>
      <h3>helenco</h3>
    </div>
  </div>
  <div class="box__pelis">
    <img src="./../../../assets/Fotos pelis/zoo.jpg" alt="" srcset="" />
    <div class="info__pelis">
      <h2>Titulo</h2>
      <h3>fecha</h3>
      <h3>director</h3>
      <h3>helenco</h3>
    </div>
  </div>
  <div class="box__pelis">
    <img src="./../../../assets/Fotos pelis/zoo.jpg" alt="" srcset="" />
    <div class="info__pelis">
      <h2>Titulo</h2>
      <h3>fecha</h3>
      <h3>director</h3>
      <h3>helenco</h3>
    </div>
  </div>
  <div class="box__pelis">
    <img src="./../../../assets/Fotos pelis/batman.jpg" alt="" srcset="" />
    <div class="info__pelis">
      <h2>Titulo</h2>
      <h3>fecha</h3>
      <h3>director</h3>
      <h3>helenco</h3>
    </div>
  </div>
  <div class="box__pelis">
    <img src="./../../../assets/Fotos pelis/marvel.jpg" alt="" srcset="" />
    <div class="info__pelis">
      <h2>Titulo</h2>
      <h3>fecha</h3>
      <h3>director</h3>
      <h3>helenco</h3>
    </div>
  </div>
</div>
