.contenedor__padre--contenido {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    top:60px;
}

.box__pelis {
    width: 18%;
    height: 40vh;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.30);
    box-shadow: 31px -14px 32px 10px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2px);
    user-select: none;
    cursor: pointer;
    display: flex;
    gap: 1em;
    align-items: center;

    transition: all .5s;
}

.info__pelis {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.info__pelis h2,
.box__pelis h3 {
    font-weight: 300;
    font-size: 1em;
    text-transform: capitalize;
}

.box__pelis img {
    height: 100%;
    width: 50%;
    border-radius: 20px 0 0 20px;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000a6;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 8888;
    animation: aparecer .2s;
}

@keyframes aparecer {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.grande {
    width: 80vw !important;
    height: 80vh !important;
}

@media screen and (max-width: 1200px) {

    .box__pelis {
        width: 33.3%;
        height: 33.3vh;
        flex-shrink: 0;
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.30);
        box-shadow: 31px -14px 32px 10px rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(2px);
    }

    body {
        font-size: 18px;
    }

    .grande {
        width: 100vw !important;
        height: 50vh !important;
    }

    .info__pelis h2,
    .box__pelis h3 {
        font-weight: 300;
        font-size: .8em;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 550px) {

    .box__pelis {
        width: 100%;
        height: 33.3vh;
        flex-shrink: 0;
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.30);
        box-shadow: 31px -14px 32px 10px rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(2px);
    }

    body {
        font-size: 18px;
    }

    .contenedor__padre--contenido {
        width: auto;
        height: 87vh;
        overflow: scroll;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
        align-items: center;
        top: 40px;
    }
}