@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primario: #0891FF;
    --secundario: #2F85CC;
    --terciario: #427299;
    --negro: #2A2F33;
    --gris:#CDD0D9;
}

body{
    background: var(--negro);
}



